packages:
    yum:
        dos2unix: []


container_commands:
    01-command:
        command:        rm -rf /ESFDreamCamp/ebextensions

    02-command:
        command:        mkdir -p /ESFDreamCamp/ebextensions

    03-command:
        command:        cp -R .ebextensions/* /ESFDreamCamp/ebextensions/

    04-command:
        command:        dos2unix -k /ESFDreamCamp/ebextensions/mongo.sh

    05-command:
        command:        chmod 700 /ESFDreamCamp/ebextensions/mongo.sh

    06-command:
        command:        bash /ESFDreamCamp/ebextensions/mongo.sh
